
body {
    margin: 0; /* Remove a margem padrão do body */
    padding-bottom: 50px; /* Para evitar que o conteúdo fique atrás do rodapé */
}
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 3px; /* Margem de 3 pixels da parte de baixo */
    left: 0;
    right: 0;
    width: calc(100% - 6px); /* Para ajustar a largura considerando a margem */
    margin: 3px; /* Margem de 3 pixels ao redor do rodapé */
    box-sizing: border-box; /* Inclui padding e margem no cálculo da largura */
}
a{
    text-decoration: none;
    color: chocolate;
}

h1 {
    font-family: 'Gelasio', serif; /* Aplica a fonte Gelasio ao h1 */
}
