<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>O profeta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body class='bg-dark text-secondary'>
    <div class="container mt-4 text-center">
      <h1 class="font-gelasio">O Profeta</h1>

   
      <!-- Botões centralizados e responsivos -->
      <div class="row mt-4">
        <div class="col-12">
          <div class="d-flex flex-wrap justify-content-center gap-2">
            <a class="btn btn-success btn-sm" data-bs-toggle="collapse" href="#collapseAlmustafa" role="button" aria-expanded="false" aria-controls="collapseExample" style="white-space: nowrap;">
              AL-MUSTAFA
            </a>
            <button class="btn btn-outline-warning btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAmor" aria-expanded="false" aria-controls="collapseAmor" style="white-space: nowrap;">
              O AMOR
            </button>
            <button class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMatrimonio" aria-expanded="false" aria-controls="collapseMatrimonio" style="white-space: nowrap;">
              O MATRIMÔNIO
            </button>
            <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilhos" aria-expanded="false" aria-controls="collapseFilhos" style="white-space: nowrap;">
              OS FILHOS
            </button>
            <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDadiva" aria-expanded="false" aria-controls="collapseDadiva" style="white-space: nowrap;">
              A DÁDIVA
            </button>
            <button class="btn btn-outline-danger btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComerBeber" aria-expanded="false" aria-controls="collapseComerBeber" style="white-space: nowrap;">
              O COMER E BERBER
            </button>
            <button class="btn btn-outline-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTrabalho" aria-expanded="false" aria-controls="collapseTrabalho" style="white-space: nowrap;">
              O TRABALHO
            </button>
            <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAlegriaTristeza" aria-expanded="false" aria-controls="collapseAlegriaTristeza" style="white-space: nowrap;">
              A ALEGRIA E TRISTEZA
            </button>
            <button class="btn btn-outline-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRoupas" aria-expanded="false" aria-controls="collapseRoupas" style="white-space: nowrap;">
              AS ROUPAS
            </button>
            <button class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHabitacoes" aria-expanded="false" aria-controls="collapseHabitacoes" style="white-space: nowrap;">
              AS HABITAÇÕES
            </button>
            <button class="btn btn-outline-warning btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCompraVenda" aria-expanded="false" aria-controls="collapseCompraVenda" style="white-space: nowrap;">
              AS COMPRAS E VENDAS
            </button>
            <button class="btn btn-outline-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCrimeCastigo" aria-expanded="false" aria-controls="collapseCrimeCastigo" style="white-space: nowrap;">
              O CRIME E O CASTIGO
            </button>
            <button class="btn btn-outline-info btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLeis" aria-expanded="false" aria-controls="collapseLeis" style="white-space: nowrap;">
              AS LEIS
            </button>
            <button class="btn btn-outline-danger btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLiberdade" aria-expanded="false" aria-controls="collapseLiberdade" style="white-space: nowrap;">
              A LIBERDADE
            </button>
            <button class="btn btn-outline-success btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRazaoPaixao" aria-expanded="false" aria-controls="collapseRazaoPaixao" style="white-space: nowrap;">
              A RAZÃO E A PAIXÃO
            </button>
          </div>
        </div>
      </div>
    
     <!-- Inicio dos colapses -->

    <div class="collapse" id="collapseAlmustafa">
      <div class="card card-body bg-success text-light">
        AL-MUSTAFA, o Eleito e o Bem-Amado, que era uma aurora em seu próprio dia, esperava
        havia doze anos, na cidade de Orphalese, o regresso de seu navio que o levaria de volta à ilha onde
        nascera.
        E no ano décimo segundo, ao sétimo dia de Ailul, o mês da colheita, galgou o monte fora da
        cidade e olhou para o mar; e deparou com o navio chegando com a névoa.
        Então, as portas de seu coração abriram-se, e sua alegria voou longe sobre o mar. E, fechando
        os olhos, orou no silêncio de sua alma.
        Mas ao descer o monte, foi invadido pela tristeza, e pensou no seu coração:
        “Como poderei ir-me em paz e sem pena? Não, não será sem um ferimento na alma que
        deixarei esta cidade.
        Longos foram os dias de amargura que passei dentro de suas muralhas, e longas as noites de
        solidão; e quem pode despedir-se sem tristeza de sua amargura e de sua solidão?

        Muitos foram os pedaços de minha alma que espalhei nestas ruas, e muitos são os filhos de
        minha ansiedade que caminham, desnudos, entre estas colinas, e não posso abandoná-los sem me
        sentir oprimido e entristecido.
        Não é uma simples vestimenta que dispo hoje, mas a própria pele que arranco com minhas
        mãos.
        E não é um mero pensamento que deixo atrás de mim, mas um coração enternecido pela fome
        e a sede.
        Contudo, não posso demorar-me por mais tempo.
        O mar, que chama a si todas as coisas, está-me chamando, e devo embarcar.

        Pois permanecer aqui, enquanto as horas se queimam na noite, seria congelar-me e cristalizar-
        me num molde.

        De bom grado levaria comigo tudo o que aqui está. Mas como fazê-lo?
        A voz não leva consigo a língua e os lábios que lhe deram asas.
        É isolada que deve procurar o éter.
        É também só, e sem o ninho, que a águia voa rumo ao sol.”
        E quando atingiu o sopé da colina, virou-se novamente para o mar e viu seu navio aportar e,
        no convés, agruparem-se os marinheiros, os homens de sua terra natal.
        E sua alma gritou e disse-lhes:
        “Filhos de minha velha mãe, que correis na crista das vagas impetuosas.
        Quantas vezes navegastes nos meus sonhos. E agora chagais ao meu despertar, que é meu
        sonho mais profundo.
        Disposto encontrais-me a partir, e minha impaciência, de velas desfraldadas, está à espera do
        vento.
        Tomarei apenas mais um hausto de ar neste recanto sereno, volverei para trás somente mais
        um olhar afetuoso.
        E, logo após, juntar-me-ei a vós, marujo entre marujos.
        E tu, vasto mar, mãe sempre acordada,
        Que, sozinho, és paz e liberdade para o rio e o regato,
        Uma só volta fará ainda esta corrente, um só murmúrio sussurará ainda nesta clareira,
        Depois, virei a ti, gota ilimitada a um oceano ilimitado.”
        E enquanto caminhava, viu homens e mulheres abandonando suas hortas e vinhedos e
        apressarem-se rumo às portas da cidade.
        E ouviu-os chamarem seu nome e anunciarem de campo a campo, uns aos outros, a chegada
        de seu navio.
        E disse consigo mesmo:
        “Será, acaso, o dia da separação o dia do encontro? E será dito que meu anoitecer era, na
        verdade, minha aurora?
        E o que oferecerei àquele que deixou seu arado no meio do rego e àquele que imobilizou a
        roda de seu lagar?
        Converter-se-á meu coração numa árvore de abundantes frutos que colherei e lhes
        distribuirei?
        E correrão meus desejos como um manancial onde lhes encherei os copos?
        Sou, acaso, uma harpa para que em mim toque a mão do Onipotente, ou uma flauta para que
        Seu sopro me atravesse?
        Um ser em procura de silêncios, eis o que sou, e que tesouros tenho descoberto nos meus
        silêncios que possa distribuir com segurança?
        Se este é o dia de minha colheita, em que campos plantei a semente, e em que estações
        esquecidas?
        Se esta é, na verdade, a hora de levantar minha lanterna, a chama que nela brilhará não será
        minha.

        Vazia e apagada erguerei minha lâmpada.
        E o guardião da noite a abastecerá de azeite e a acenderá também.”
        Essas coisas, ele as expressou em palavras. Mas muitas outras permaneceram inexpressas no
        seu coração. Pois nem ele podia externar seu segredo mais profundo.
        E quando entrou na cidade, o povo inteiro o recebeu, e todos estavam clamando seu nome
        numa só voz.
        E os anciãos da cidade aproximaram-se e disseram:
        “Não nos deixes ainda.
        Foste um meio-dia em nosso crepúsculo, e tua juventude deu-nos sonhos para sonhar.
        Não és um estrangeiro nem um hóspede entre nós, mas nosso filho e nosso bem-amado.
        Não condenes ainda nosso olhar a sofrer a fome de tua face.”
        E os sacerdotes e as sacerdotisas disseram-lhe:
        “Não consintas que as ondas do mar nos separem e que os anos que conosco passaste se
        tornem uma lembrança.
        Andaste entre nós como um espírito, e tua imagem tem sido uma luz que nos iluminou as
        faces.
        Muito te temos amado. Mas silencioso foi nosso amor, e com véus tem estado coberto.
        Agora, porém, ele grita e chama-te em alta voz e quer revelar-se a ti.
        Pois assim tem sido sempre com o amor: ele só conhece a sua profundidade na hora da
        separação.”
        E outros vieram também e imploraram-lhe. Mas ele não lhes respondeu. Baixou apenas a
        cabeça. E os que o rodeavam viram lágrimas caírem sobre seu peito.
        E caminhando com o povo, chegou à grande praça em frente ao templo.
        E uma mulher chamada Almitra saiu do santuário. E ela era vidente.
        E ele a encarou com excessiva ternura, pois fora ela a primeira a procurá-lo e nele crer no dia
        de sua chegada à cidade.
        E ela o saudou, dizendo:
        “Profeta de Deus em procura do infinito, quantas vezes sondaste as distâncias à espera de teu
        navio.
        E agora teu navio chegou, e tu deves partir.
        Profunda é tua nostalgia pela pátria de tuas recordações e a morada de teus desejos maiores; e
        nosso amor não te quer prender, nem nossas necessidades te reterem.
        Uma coisa, porém, pedimos-te: antes de nos deixares fala-nos e dá-nos de tua verdade.
        E nós a transmitiremos a nossos filhos, e eles a transmitirão aos seus filhos, e ela não
        perecerá.
        Na tua soledade, vigiaste por nossos dias e, na tua vigília, escutaste os gemidos e os risos de
        nosso sono.
        Agora, revela-nos a nós próprios, e conta-nos o que te foi dado descobrir do que existe entre
        o nascimento e a morte.”
        E ele respondeu:
        “Povo de Orphalese, de que poderia falar-vos senão do que está agora se movendo dentro de
        vossas almas?”
      </div> 
    </div>

    <div class="collapse" id="collapseAmor">
      <div class="card card-body bg-warning text-dark">
        Então, Almitra disse: “Fala-nos do amor.”
        E ele ergueu a fronte e olhou para a multidão, e um silêncio caiu sobre todos, e com uma voz
        forte, disse: “Quando o amor vos chamar, segui-o, embora seus caminhos sejam agrestes e

        escarpados; e quando ele vos envolver com suas asas, cedei-lhe, embora a espada oculta na sua
        plumagem possa ferir-vos; e quando ele vos falar, acreditai nele, embora sua voz possa despedaçar
        vossos sonhos como o vento devasta o jardim.
        Pois, da mesma forma que o amor vos coroa, assim ele vos crucifica. E da mesma forma que
        contribui para vosso crescimento, trabalha para vossa poda.
        E da mesma forma que alcança vossa altura e acaricia vossos ramos mais tenros que se
        embalam ao sol, assim também desce até vossas raízes e as sacode no seu apego à terra.
        Como feixes de trigo, ele vos aperta junto ao seu coração.
        Ele vos debulha para expor vossa nudez. Ele vos peneira para libertar-vos das palhas. Ele vos
        mói até a extrema brancura. Ele vos amassa até que vos torneis maleáveis.
        Então, ele vos leva ao fogo sagrado e vos transforma no pão místico do banquete divino.
        Todas essas coisas, o amor operará em vós para que conheçais os segredos de vossos
        corações e, com esse conhecimento, vos convertais no pão místico do banquete divino.
        Todavia, se no vosso amor, procurardes somente a paz do amor e o gozo do amor, então seria
        melhor para vós que cobrísseis vossa nudez e abandonásseis a eira do amor, para entrar num mundo
        sem estações, onde rireis, mas não todos os vossos risos, e chorareis, mas não todas as vossas
        lágrimas.
        O amor nada dá senão de si próprio e nada recebe senão de si próprio.
        O amor não possui, nem se deixa possuir.
        Pois o amor basta-se a si mesmo.
        Quando um de vós ama, que nãodiga: “Deus está no meu coração”, mas que diga antes: “Eu
        estou no coração de Deus.”
        E não imagineis que possais dirigir o curso do amor, pois o amor, se vos achar dignos,
        determinará ele próprio o vosso curso.
        O amor não tem outro desejo senão o de atingir a sua plenitude.
        Se, contudo, amardes e precisardes ter desejos, sejam estes os vossos desejos: de vos
        diluirdes no amor e serdes como um riacho que canta sua melodia para a noite; de conhecerdes a
        dor de sentir ternura demasiada; de ficardes feridos por vossa própria compreensão do amor e de
        sangrardes de boa vontade e com alegria; de acordardes na aurora com o coração alado e
        agradecerdes por um novo dia de amor; de descansardes ao meio-dia e meditardes sobre o êxtase do
        amor; de voltardes para casa à noite com gratidão; e de adormecerdes com uma prece no coração
        para o bem-amado, e nos lábios uma canção de bem-aventurança.”
      </div> 
    </div>

    <div class="collapse" id="collapseMatrimonio">
      <div class="card card-body bg-success text-light">
        Então, Almitra falou novamente e disse: “E que nos dizes do matrimônio, mestre?”
        E ele respondeu, dizendo:
        “Vós nascestes juntos, e juntos permanecereis para todo o sempre.
        Juntos estareis quando as brancas asas da morte dissiparem vossos dias.
        Sim, juntos estareis até na memória silenciosa de Deus.
        Mas que haja espaço na vossa junção e que os ventos do céu dancem entre vós.
        Amai-vos um ao outro, mas não façais do amor um grilhão: que haja antes um mar ondulante
        entre as praias de vossas almas.
        Enchei a taça um do outro, mas não bebais na mesma taça.
        Dai de vosso pão um ao outro, mas não comais do mesmo pedaço.

        Cantai e dançai juntos, e sede alegres, mas deixai cada um de vós estar sozinho, assim como
        as cordas da lira são separadas e, no entanto, vibram na mesma harmonia.
        Dai vossos corações, mas não os confieis à guarda um do outro.
        Pois somente a mão da vida pode conter vossos corações.
        E vivei juntos, mas não vos aconchegueis em demasia; pois as colunas do
        templo erguem-se separadamente, e o carvalho e o cipreste não crescem à sombra um
        do outro.”
      </div>
    </div>
    
    <div class="collapse" id="collapseFilhos">
      <div class="card card-body bg-primary text-light">
        E uma mulher que carregava o filho nos braços disse: “Fala-nos dos filhos.”
        E ele disse:
        “Vossos filhos não são vossos filhos.
        São os filhos e as filhas da ânsia da vida por si mesma.
        Vêm através de vós, mas não de vós.
        E embora vivam convosco, não vos pertencem.
        Podeis outorgar-lhes vosso amor, mas não vossos pensamentos, porque eles têm seus próprios
        pensamentos.
        Podeis abrigar seus corpos, mas não suas almas; pois suas almas moram na mansão do
        amanhã, que vós não podeis visitar nem mesmo em sonho.
        Podeis esforçar-vos por ser como eles, mas não procureis fazê-los como vós, porque a vida
        não anda para trás e não se demora com os dias passados.
        Vós sois os arcos dos quais vossos filhos são arremessados como flechas vivas.
        O Arqueiro mira o alvo na senda do infinito e vos estica com toda a Sua força para que Suas
        flechas se projetem, rápidas para longe.
        Que vosso encurvamento na mão do Arqueiro seja vossa alegria: pois assim como Ele ama a
        flecha que voa, ama também o arco que permanece estável.”
        do outro.”
      </div>
    </div>

    <div class="collapse" id="collapseDadiva">
      <div class="card card-body bg-info text-dark">
        Então, um homem rico disse: “Fala-nos da dádiva.”
        E ele respondeu:
        “Vós pouco dais quando dais de vossas posses.
        É quando dais de vós próprios que realmente dais.
        Pois, o que são vossas posses senão coisas que guardais por medo de precisardes delas
        amanhã?
        E amanhã, que trará o amanhã ao cão ultraprudente que enterra ossos na areia movediça
        enquanto segue os peregrinos para a cidade santa?
        E o que é o medo da necessidade senão a própria necessidade?
        Não é vosso medo da sede, quando vosso poço está cheio, a sede insaciável?
        Há os que dão pouco do muito que possuem, e fazem-no para serem elogiados, e seu desejo
        secreto desvaloriza suas dádivas.
        E há os que pouco têm e dão-no inteiramente.
        Esses confiam na vida e na generosidade da vida, e seus cofres nunca se esvaziam.
        E há os que dão com alegria, e essa alegria é sua recompensa.
        E há os que dão com pena, e essa pena é seu batismo.
        E há os que dão sem sentir pena nem buscar alegria e sem pensar na virtude: dão como, no
        vale, o mirto espalha sua fragrância no espaço.
        Pelas mãos de tais pessoas, Deus fala; e através de seus olhos, Ele sorri para o mundo.

        É belo dar quando solicitado; é mais belo, porém, dar sem ser solicitado, por haver apenas
        compreendido; e para os generosos, procurar quem recebe é uma alegria maior ainda que a de dar.
        E existe alguma coisa que possais guardar?
        Tudo que possuís será um dia dado.
        Dai agora, portanto, para que a época da dádiva seja vossa e não de vossos herdeiros.
        Dizeis muitas vezes: ‘Eu daria, mas somente a quem merece.’
        As árvores de vossos pomares não falam assim, nem os rebanhos de vossos pastos.
        Dão para continuar a viver, pois reter é perecer.
        Certamente, quem é digno de receber seus dias e suas noites é digno de receber de vós tudo o
        mais.
        E quem mereceu beber do oceano da vida, merece encher sua taça em vosso pequeno
        córrego.
        E que mérito maior haverá do que aquele que reside na coragem e na confiança, mais ainda,
        na caridade de receber?
        E quem sois vós para que os homens devam expor seu íntimo e desnudar seu orgulho a fim de
        que possais ver seu mérito despido e seu amor-próprio rebaixado?
        Procurai ver, primeiro, se mereceis ser doadores e instrumentos do dom.
        Pois, na verdade, é a vida que dá à vida, enquanto vós, que vos julgais doadores, sois simples
        testemunhas.
        E vós que recebeis – e vós todos recebeis – não assumais nenhum encargo de gratidão a fim
        de não pordes um jugo sobre vós e vossos benfeitores.
        Antes, erguei-vos, junto com eles, sobre asas feitas de suas dádivas; pois se ficardes
        demasiadamente preocupados com vossas dádivas, estareis duvidando da generosidade daquele que
        tem a terra liberal por mãe e Deus por pai.”
      </div>
    </div>

    <div class="collapse" id="collapseComerBeber">
      <div class="card card-body bg-danger text-light">
        Então, um velho estalajadeiro disse: “Fala-nos do comer e do beber.”
        E ele respondeu:
        “Pudésseis viver do perfume da terra e, como uma planta, nutrir-vos de luz.
        Mas, já que deveis matar para comer e roubar do recém-nascido o leite de sua
        mãe para saciar vossa sede, fazei disso um ato de adoração.
        E que vossa mesa seja um altar onde os puros e os inocentes da floresta e da planície são
        sacrificados àquilo que é ainda mais puro e mais inocente no homem.
        Quando matardes um animal, dizei-lhe no vosso coração:
        ‘Pelo mesmo poder que te imola, eu também serei imolado, e eu também servirei de alimento
        para outros; pois a lei que te entregou às minhas mãos me entregará a mãos mais poderosas.
        Teu sangue e meu sangue nada são senão a seiva que nutre a árove do céu.’
        E quando morderdes uma maçã, dizei-lhe no vosso coração:
        ‘Tuas sementes viveerão no meu corpo, e os brotos de teus amanhãs florescerão no meu
        coração, e teu perfume será meu hálito, e, juntos, regozijar-nos-emos em todas as estações.’
        E no outono, quando colherdes a uva de vossos vinhedos para o lagar, dizei-lhe no vosso
        coração:
        ‘Eu também sou um vinhedo, e minha fruta será recolhida para o lagar, e, como um vinho
        novo, serei guardado em vasos eternos.’
        E no inverno, quando beberdes o vinho, que haja no vosso coração uma canção para cada
        taça, e que haja na canção um pensamento para os dias do outono, para o vinhedo e para o lagar.”
      </div>
    </div>

    <div class="collapse" id="collapseTrabalho">
      <div class="card card-body bg-dark text-light">
        Então, um lavrador disse: “Fala-nos do trabalho.”
        E ele respondeu, dizendo:
        “Vós trabalhais para acompanhar o ritmo da terra, e da alma da terra.
        Pois ser indolente é tornar-se estranho às estações e afastar-se do cortejo da vida, que avança
        com majestade e orgulhosa submissão rumo ao infinito.
        Quando trabalhais, sois uma flauta através da qual o murmúrio das horas se transforma em
        melodia.
        Quem de vós aceitaria ser um caniço mudo e surdo quando tudo o mais canta em uníssono?
        Sempre vos disseram que o trabalho é uma maldição, e o labor, uma desgraça.
        Mas eu vos digo que, quando trabalhais, realizais parte do sonho mais longínquo da terra,
        desempenhando assim uma misão que vos foi designada quando esse sonho nasceu.
        E, apegando-vos ao trabalho, estareis na verdade amando a vida. E quem ama a vida através
        do trabalho, partilha do segredo mais íntimo da vida.
        Mas se, em vossas dores, chamardes o nascimento uma aflição e a necessidade de suportar a
        carne, uma maldição inscrita na vossa fronte, então eu vos direi que só o suor de vossa fronte lavará
        esse estigma.
        Disseram-vos que a vida é escuridão; e no vosso cansaço, repetis o que os cansados vos
        disseram.
        E eu vos digo que a vida é realmente escuridão, exceto quando há um impulso.
        E todo impulso é cego, exceto quando há saber.
        E todo saber é vão, exceto quando há trabalho.;
        E todo trabalho é vazio, exceto quando há amor.
        E quando trabalhais com amor, vós vos unis a vós próprios, e uns aos outros, e a Deus.
        E que é trabalhar com amor?
        É tecer o tecido com fios desfiados de vosso próprio coração, como se vosso bem-amado
        fosse usar esse tecido.
        É construir uma casa com afeição, como se vosso bem-amado fosse habitar essa casa.
        
        É semear as sementes com ternura e recolher a colheita com alegria, como se vosso bem-
        amado fosse comer-lhe os frutos.
        
        É pôr em todas as coisas que fazeis um sopro de vossa alma, e saber que todos os abençoados
        mortos vos rodeiam e vos observam.
        Muitas vezes ouvi-vos dizer como se estivésseis falando no sono: ‘Aquele que trabalha no
        mármore e encontra na pedra a forma de sua alma é mais nobre do que aquele que lavra a terra.
        E aquele que agarra o arco-íris e o estende na tela sob formas humanas é superior àquele que
        confecciona sandálias para nossos pés.’
        Porém, eu vos digo, não no sono, mas no pleno despertar do meio-dia, que o vento não fala
        com maios doçura aos carvalhos gigantes do que à menor das hastes da relva; e grande  ́somente
        aquele que transforma o ulular do vento numa canção tornada mais suave pela sua própria ternura.
        O trabalho é o amor feito visível.
        E se não podeis trabalhar com amor, mas somente com desgosto, melhor seria que
        abandonásseis vosso trabalho e vos sentásseis à porta do templo a solicitar esmolas daqueles que
        trabalham com alegria.
        Pois se cozerdes o pão com indiferença, cozereis um pão amargo, que satisfaz somente a
        metade da fome do homem.
        E se espremerdes a uva de má vontade, vossa má vontade destilará no vionho seu veneno.
        E ainda que canteis como os anjos, se não tiverdes amor ao canto, tapais o ouvido do homem
        às vozes do dia e às vozes da noite.”
      </div>
    </div>

    <div class="collapse" id="collapseAlegriaTristeza">
      <div class="card card-body bg-secondary text-light">
        Então, uma mulher disse: “Fala-nos da alegria e da tristeza.”
        E ele respondeu:
        “Vossa alegria é vossa tristeza desmascarada.
        E o mesmo poço que dá nascimento a vosso riso foi muitas vezes preenchido com vossas
        lágrimas.
        E como poderia não ser assim?
        Quanto mais profundamente a tristeza cavar suas garras em vosso ser, tanto mais alegria
        podereis conter.
        Não é a taça em que verteis vosso vinho a mesma que foi queimada no forno do oleiro?
        E não é a lira que acaricia vossas almas a própria madeira que foi entalhada à faca?
        Quando estiverdes alegres, olhai no fundo de vosso coração, e achareis que o que vos deu
        tristeza é aquilo mesmo que vos está dando alegria.
        E quando estiverdes tristes, olhai novamente no vosso coração e vereis que, na verdade, estais
        chorando por aquilo mesmo que constituiu vosso deleite.
        Alguns dentre vós dizeis: ‘A alegria é maior que a tristeza’, e outros dizem: ‘Não, a tristeza é
        maior.’
        Eu, porém, vos digo que elas são inseparáveis.
        Vêm sempre juntas; e quando uma está sentada à vossa mesa, lembrai-vos de que a outra
        dorme em vossa cama.
        Em verdade, estais suspensos como os pratos de uma balança entre vossa tristeza e vossa
        alegria.
        É somente quando estais vazios que estais em equilíbrio.
        Quando o guarda do tesouro vos suspende para pesar seu ouro e sua prata, então deve a vossa
        alegria e a vossa tristeza subir ou descer.”
      </div>
    </div>

    <div class="collapse" id="collapseHabitacoes">
      <div class="card card-body bg-success text-light">
        Então, um pedreiro aproximou-se e disse: “Fala-nos das habitações.”
        E ele respondeu e disse:
        “Construí com vossos sonhos um abrigo no deserto antes de construir uma moradia no
        recinto da cidade.
        Pois, da mesma forma por que voltais para casa no crepúsculo, assim faz o viajante que vive
        em vós, o sempre distante e solitário.
        Vossa casa é o vosso corpo mais amplo.
        Cresce ao sol e dorme no silêncio da noite, e também ela tem sonhos. Vossa casa não sonha e,
        sonhando, escapa da cidade para o bosque ou a colina?
        Ah! Se pudesse enfeixar vossas casas na minha mão e, como um semador, espalhá-las nas
        florestas e nas campinas!
        Fossem os vales vossas ruas e os atalhos verdejantes vossas veredas, para que pudésseis
        procurar-vos uns aos outros através dos vinhedos e voltar com a fragrância da terra nas vossas
        roupas.
        Contudo, o tempo dessas coisas ainda não chegou.
        No seu temor, vossos pais juntaram-vos demasiadamente perto uns dos outros. E esse medo
        sobreviverá por algum tempo ainda. E durante esse tempo, as muralhas de vossas cidades separarão
        vossos campos de vossos lares.
        E dizei-me, povo de Orphalese, que possuís nessas habitações? E que objetos quardais atrás
        dessas portas trancadas?

        Acaso possuís a paz, esse impulso tranqüilo que revela vossa potência?
        Possuís as recordações, essas abóbadas cintilantes que se estendem sobre os cumes do
        espírito?
        Possuís a beleza que conduz o coração dos objetos confeccionados com madeira e pedra para
        a montanha sagrada?
        Dizei-me, possuís tudo isso em vossas casas?
        Ou tendes somente o conforto, e a cobiça do conforto, esse desejo furtivo que entra em casa
        como visita, e depois torna-se hóspede, e depois dono?
        Sim, e torna-se também domador e, com forcado e açoite, reduz a títeres vossos desejos mais
        vastos.
        Embora suas mãos sejam de seda, seu coração é de ferro.
        Ele vos embala até dormirdes, só para rondar vosso leito e zombar da dignidade de vosso
        corpo.
        Zomba também de vossos sentidos normais e deita-os na penugem macia como um vaso
        frágil.
        Na verdade, vossa paixão pelo conforto assassina as paixões mais nobres de vossas almas e,
        depois, zombeteira, acompanha seu enterro.
        Mas vós, filhos do espaço, vós, os inquietos no repouso, vós não caireis em armadilhas nem
        sereis domesticados.
        Vossa casa não será uma âncora, mas um mastro.
        Não será uma fita reluzente que recobre um ferimento, mas uma pálpebra que protege o olho.
        Não dobrareis as asas para poder atravessar as portas, nem curvareis a cabeça para não bater nos
        tetos, nem retereis vossa respiração para não sacudir e abalar as paredes.
        Não morareis em tumbas feitas pelos mortos para os vivos.
        E apesar de sua magnificência e explendor, vossa casa não conterá vosso segredo nem
        abrigará vossa nostalgia.
        Pois aquilo que é ilimitado em vós mora no castelo do firmamento, cuja porta é a bruma da
        aurora e cujas janelas são os cânticos e os silêncios da noite.”
      </div>
    </div>

    <div class="collapse" id="collapseRoupas">
      <div class="card card-body">
        E um tecelão disse: “Fala-nos das roupas.”
        E ele respondeu:
        “Vossos trajes ocultam muito de vossa beleza, porém, não escondem o que não é belo.
        Embora procureis nos trajes a proteção libertadora de vossa intimidade, neles podeis
        encontrar arreios e cadeias.
        Pudésseis enfrentar o sol e o vento com mais epiderme e menos roupa; pois o sopro da vida
        está na luz do sol e a mão da vida está no vento.
        Alguns dentre vós dizeis: ‘O vento do Norte foi quem teceu os trajes que vestimos.’
        Eu, porém, vos digo: ‘Sim, foi o vento do Norte.
        Mas a desonra foi o seu tear e o enfraquecimento dos nervos, o seu fio.
        E quando completou seu trabalho, reiu-se na floresta.
        Não esqueçais que a decência é um escudo contra o olhar do impuro.
        E quando o impuro desaparecer, que será a decência senão um obstáculo e uma mancha na
        alma?
        E não esqueçais que a terra se rejubila de sentir vossos pés desnudos e que os ventos anseiam
        por brincar com vosso cabelo.”
      </div>
    </div>

    <div class="collapse" id="collapseCompraVenda">
      <div class="card card-body bg-dark text-warning">
        E um comerciante disse: “Fala-nos das compras e vendas.”
        E ele respondeu:
        “A vós, a terra oferece seus frutos, e nada vos faltará se somente souberdes como encher as
        mãos.
        É trocando as dádivas da terra que encontrareis a abundância e sereis satisfeitos.
        E, contudo, a menos que a troca se faça no amor e na justiça, ela conduzirá uns à avidez e
        outros à fome.
        Quando vós, trabalhadores dos campos e dos vinhedos, encontrardes no mercado os tecelões,
        os oleiros e os colhedores de especiarias, invocai o espírito mestre da terra para que desça sobre vós
        e santifique as balanças e os cálculos que comparam valor com valor.
        E não permitais que aqueles que têm as mãos vazias tomem parte nas vossas transações, eles
        que vos venderiam suas palavras em troca de vosso labor.
        A tais homens devereis dizer: ‘Vinde conosco aos nossos campos ou ide com nosso irmãos
        para o mar e jogai vossa rede: pois a terra e o mar serão tão generosos para convosco quanto o são
        para conosco.’
        Mas quando vierem os cantores e os bailarinos e os flautistas, comprai de suas ofertas.
        Pois eles também colhem frutos e incensos e, embora feitos de sonhos, seus produtos são
        vestimenta e alimento para vossas almas.
        E antes de deixardes o mercado, vede que ninguém se retire de mãos vazias.
        Pois o espírito mestre da terra não descansará em paz sobre o vento enquanto as necessidades
        do mais humilde dentre vós não tiverem sido satisfeitas.”
        O CRIME E O CASTIGO.
      </div>
    </div>

    <div class="collapse" id="collapseCrimeCastigo">
      <div class="card card-body bg-primary text-light">
        Então, um dos juízes da cidade acercou-se e disse: “Fala-nos do crime e do castigo.”
        E ele respondeu, dizendo:
        “É quando vosso espírito vagueia sobre o vento que vós, sozinhos e desprevenidos, cometeis
        delitos contra os outros e, portanto, contra vós mesmos.
        E para redimir-vos do mal cometido, devereis bater à porta dos eleitos e esperar algum tempo
        antes de serdes atendidos.
        Similar ao oceano é vosso Eu-divino: permanece sempre imaculado.
        E, como o éter, ele sustenta somente os alados.
        E similar também ao sol é vosso Eu-divino: desconhece os caminhos das tocas e evita o covil
        das serpentes.
        Mas vosso Eu-divino não habita sozinho o vosso ser.
        Em vós, muitoé ainda do homem, e muito não é ainda do homem, mas apenas de um pigmeu
        informe que vagueia sonâmbulo nas brumas à procura de seu próprio despertar.
        É do homem em vós que quero agora falar: porque é ele, e não o vosso Eu-divino ou o
        pigmeu que vagueia nas brumas, quem conhece o crime e o castigo do crime.
        Freqüentemente, tenho-vos ouvido falar daquele que comete uma ação má como se não fosse
        dos vossos, mas um estranho entre vós e um intruso em vosso mundo.
        Mas eu vos digo: da mesma maneira que o santo e o justo não podem elevar-se acima do que
        há de mais elevado em vós, assim o perverso e o fraco não podem descer abaixo do que há de mais
        baixo em vós.
        E da mesma forma que nenhuma folha amarelece senão com o silencioso assentimento da
        árvore inteira, assim o malfeitor não pode praticar seus delitos sem a secreta concordância de todos
        vós.

        Como uma procissão, vós avançais, juntos, para vosso Eu-divino.
        Vós sois o caminho e os que caminham.
        E quando um dentre vós tropeça, ele cai pelos que caminham atrás dele, alertando-os contra a
        pedra traiçoeira.
        Sim, e ele cai pelos que caminham adiante dele, que, embora tenham o pé mais ligeiro e mais
        seguro, não removeram a pedra traiçoeira.
        E ouvi também isto, embora a palavra pese rudemente sobre vossos corações: o assassinato é
        censurável por seu próprio assassínio.
        E o roubado não está isento de culpa por ter sido roubado.
        E o justo não é inocente das ações no iníquo.
        Sim, o agressor é, muitas vezes, a vítima do agredido.
        E mais comumente ainda, o condenado carrega o fardo para o inocente e o irreprochável.
        Vós não podeis separar o justo do injusto e o bom do malvado, porque ambos caminham
        juntos diante da face do sol, exatamente como os fios branco e negro são tecidos juntos.
        E quando o fio negro se rompe, o tecelão verifica todo o tecido e examina também o tear.
        Se um dentre vós põe em julgamento a esposa infiel, que pese também na balança o coração
        de seu marido e lhe meça a alma com cuidado.
        E aquele que deseja fustigar o ofensor, que examine a alma do ofendido.
        E se um dentre vós pretende punir em nome da retidão e derrubar a árvore do mal, que
        observe as raízes da árvore; e, na verdade, verá as raízes do bem e do mal, do frutífero e do estéril,
        entrelaçadas no coração silencioso da terra.
        E vós, juízes que desejais ser justos, que julgamento pronunciareis contra aquele que, embora
        honesto na carne, é ladrão no espírito?
        E como punireis aquele que assassina o corpo, mas é, ele próprio, assissanado no espírito?
        E como processareis aquele que, impostor e opressor nas suas ações, é também molestado e
        ultrajado?
        E como punireis aqueles cujos remorsos já são maiores que seus delitos?
        Não é o remorso uma justiça aplicada por esta mesma lei que desejais servir?
        E, contudo, não podeis impor o remorso ao coração do inocente, nem retirá-lo do coração do
        culpado.
        Espontaneamente, ele gritará na noite para que os homens despertem e reconsiderem.
        E vós que desejais compreender a justiça, como a compreendereis sem examinar todas as
        ações na plenitude da luz?
        Somente então sabereis que o ereto e o caído são um mesmo homem, vagueando no
        crepúsculo entre a noite de seu Eu-pigmeu e o dia de seu Eu-divino, e que a pedra angular do
        templo não supera a pedra mais baixa de suas fundações.”
      </div>
    </div>

    <div class="collapse" id="collapseLeis">
      <div class="card card-body bg-info text-dark">
        Então, um advogado disse: “Que pensas de nossas leis, mestre?”
        E ele respondeu:
        “Vós vos deleitais em estabelecer leis, mas deleitai-vos ainda mais em violá-las, como
        crianças que brincam à beira do oceano, edificando pacientemente torres de areia e, logo em
        seguida, destruindo-as entre risadas.
        Mas enquanto edificais vossas torres de areia, o oceano atira mais areia à praia, e quando as
        destruís, o oceano ri convosco.
        Na verdade, o coeano sempre ri com os inocentes.
        
        Que dizer porém, daqueles para quem a vida não é um oceano, nem as leis baixadas pelo
        homem, torres de areia, aqueles para quem a vida é uma pedra, e a lei, um cinzel com o qual
        procuram esculpi-la à sua própria imagem?
        Que dizer do aleijado que odeia os bailarinos?
        E do boi que gosta de seu jugo e considera o gamo e o cervo seres extraviados e vagabundos?
        E da serpente idosa que não pode mais largar a pele e qualifica todas as outras de desnudas e
        impudicas?
        E daquele que chega cedo ao banquete de núpcias e, depois, saciado e esgotado, segue seu
        caminho, dizendo que todo festim é uma violação da lei e todo festejador, um culpado?
        Que direis desses todos, senão que eles também se mantêm na claridade do sol, mas de costas
        para o sol?
        Vêem somente suas sombras, e suas sombras são suas leis.
        E que é o sol para eles senão um lançador de sombras?
        E que é reconhecer as leis senão curvar-se e delinear essas sombras sobre a terra?
        Vós, porém, que caminhais encarando o sol, que imagens desenhadas sobre a terra vos podem
        deter?
        Vós que viajais com o vento, que cata-vento orientará vosso curso?
        Que lei humana vos poderá atar quando quebrardes vosso jugo, mas não à porta de uma
        prisão humana?
        Que leis temereis se dançardes sem tropeçar em nenhuma cadeia de ferro feita pelo homem?
        E quem vos poderá acusar em juízo se rasgais vossas vestimentas sem as atirar no caminho alheio?
        Povo de Orphalese, podeis abafar o tambor e afrouxar as cordas da lira, mas quem poderá
        proibir à calhandra de cantar?”
      </div>
    </div>

    <div class="collapse" id="collapseLiberdade">
      <div class="card card-body bg-danger text-light">
        E um tribuno disse: “Fala-nos da liberdade.”
        E ele respondeu:
        “Às portas da cidade e em vossos lares, eu vos vi prosternar-vos e adoras vossa própria
        liberdade, como escravos que se humilham perante um tirano e glorificam-no embora ele os destrua.
        Sim, na alameda do templo e à sombra da cidadela, tenho visto os mais livres dentre vós
        carregar sua liberdade como um jugo e um grilhão.
        E meu coração sangrou dentro de mim; pois só podereis libertar-vos quando até mesmo o
        desejo de procurar a liberdade tornar-se um jugo para vós, e quando cessardes de falar da liberdade
        como de uma meta e de um fim.
        Sereis, na verdade, livres, não quando vossos dias estiverem sem preocupação e vossas noites
        sem necessidades e sem aflição, mas, antes, quando essas coisas sobrecarregarem vossa vida e,
        entretanto, conseguirdes elevar-vos acima delas, desnudos e desatados.
        E como vos elevareis acima de vossos dias e de vossas noites se não quebrardes as cadeias
        com que, na madrugada de vossa compreensão, prendestes vossa hora meridiana?
        Na verdade, o que chamais de liberdade é a mais fote dessas cadeias, embora seus anéis
        cintilem ao sol e vos deslumbrem.
        E que quereis rejeitar para serdes livres, senão fragmentos de vós próprios?
        Se é um lei injusta que pretendeis abolir, lembrai-vos de que esta lei foi escrita por vossa
        própria mão em vossa própria testa.
        Não conseguireis extingui-la, queimando vossos códigos nem lavando as faces de vossos
        juízes, embora despejeis o mar por cima delas.
        E se é um déspota que quereis destronar, verificai primeiro se seu trono erguido dentro de vós
        está destruído.
        
        Pois como poderia um tirano dominar os livres e os altivos se não tivessem tirania na sua
        própria liberdade e vergonha na sua própria altivez?
        E se é uma preocupação que quereis eliminar, essa preocupação foi escolhida por vós mais do
        que a vós imposta.
        E se é um temor que precisais dissipar, o centro desse temor está em vosso coração e não na
        mão do temido.
        Na verdade, todas as coisas movem-se dentro de vós em constante meio-enlace, as desejadas
        e as receadas, aqueleas que vos repugnam e aquelea que vos atraem, aquelas de que fugis e aquelas
        que procurais.
        Essas coisas movem-se dentro de vós como luzes e sombras em pares estreitamente unidos.
        E quando a sombra se desvanece e se dissipa, a luz que se demora torna-se a sompbra de uma
        outra luz.
        É dessa maneira que vossa liberdade, quando perde seus entraves, transforma-se num entrave
        para uma liberdade maior.”
    </div>
  </div>
    <div class="collapse" id="collapseRazaoPaixao">
      <div class="card card-body bg-success text-light">
        E a sacerdotisa adiantou-se novamente e disse: “Fala-nos da razão e da paixão.”
        E ele respondeu, dizendo:
        “Vossa alma é freqüentemente um campo de batalha onde vossa razão e vosso juízo
        combatem vossa paixão e vosso apetite.
        Pudesse eu ser o pacificador de vossa alma, tranformando a discórdia e a rivalidade entre
        vossos elementos em união e harmonia.
        Mas como poderei fazê-lo, a menos que vós mesmos sejais também pacificadores, mais
        ainda, enamorados de todos os vossos elementos?
        Vossa razão e vossa paixão são o leme e as velas de vossa alma navegante.
        Se vossas velas ou vosso leme se quebram, só podereis derivar ou parmanecer imóveis no
        meio do mar.
        Pois a razão, reinando sozinha, restringe todo impulso; e a paixão, deixada a si, é um fogo
        que arde até sua própria destruição.
        Que vossa alma eleve, portanto, vossa razão à altura de vossa paixão, para que ela possa
        cantar, e que dirija vossa paixão a par com vossa razão, para que ela possa viver numa ressurreição
        cotidiana e, como a fênix, renascer das próprias cinzas.
        Gostaria que tratásseis vosso juízo e vosso apetite como trataríeis dois hóspedes amados em
        vossa casa.
        Certamente não honraríeis um hóspede mais do que o outro; pois quem procura tratar melhor
        um dos dois, perde o amor e a confiança de ambos.
        Entre as colinas, quando vos sentardes à sombra fresca dos álamos brancos, compartilhando a
        paz e a serenidade dos campos e dos prados distantes, então que vosso coração diga em silêncio:
        ‘Deus repousa na razão.’
        E quando bramir a tempestade, e o vento poderoso sacudir a floresta, e o trovão e o
        relâmpago proclamarem a majestade do céu, então que vosso coração diga com temor e respeito:
        ‘Deus age na paixão.’
        E já que sois um sopro na esfera de Deus e uma folha na floresta de Deus, vós também
        devereis descansar na razão e agir na paixão.
    </div>
  </div>

  </div>
  <footer>
    <p> <a href="javascript:location.reload();">Limpar</a> &copy; 2024 Rainer Barbosa.</p>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>